
#container-configuracao {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#container-conteudo {
    display: flex;
    width: 500px;
    height: 400px;
    text-align: center;
}

#formulario {
    display: flex;
    width: 500px;
    height: 100px;
}

#resultado {
    display: flex;
}

.result {
    width: 240px;
    height: 250px;
    border: dashed 2px #fff;
    color: #fff;
    background-color: #24383A;
    text-align: center;
}

.result:nth-child(2){
    overflow: auto;
}

#container-resultado-par {
    width: 250px;
}

#container-resultado-par label{
    text-align: center;
    width: 200px;
    height: 35px;
    text-align: center;
    font-size: 30px;
    font-family: Giz;
    color: #fff;
    margin-top: 10px;
}


#container-resultado-impar {
    width: 250px;
}

#container-resultado-impar label{
    text-align: center;
    width: 250px;
    height: 35px;
    text-align: center;
    font-size: 30px;
    font-family: Giz;
    color: #fff;
    margin-top: 10px;
}


#container-informacao {
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 9px;
}

#container-informacao label {
    width: 150px;
    height: 35px;
    text-align: center;
    font-size: 30px;
    font-family: Giz;
    color: #fff;
    margin-bottom: 10px;
    letter-spacing: 3px;
}

#botao-tabuada {
    background-color: violet;
    width: 150px;
    height: 40px;
    margin-top: 50px;
    margin-left: 10px;
    font-family: Giz;
    font-size: 30px;
    letter-spacing: 3px;
    background: none;
    color: #fff;
    border: solid 2px #fff;
    cursor: pointer;
}

#botao-tabuada:hover {
    transition: 0.25s;
    background-color: #24383A;
}

.select-informacao {
    width: 130px;
    height: 30px;
    margin-left: 5px;
}
